{% import "components/icons.html.twig" as icons %}

<footer class="footer">
    <div>
        <div class="footer-social-networks">
            <a href="https://twitter.com/ibou888" target="_blank" rel="noreferrer">
                <span class="sr-only">Twitter</span>
                {# {{ icons.twitter() }} #}
            </a> 
            <a href="https://github.com/ibou" target="_blank" rel="noreferrer">
                <span class="sr-only">GitHub</span>
                {# {{ icons.github() }} #}
            </a> 
        </div>
        <div class="footer-copyright">
            <p class="flex justify-center">
                &copy; {{ "now"|date("Y") }} Ibrahima D. All rights reserved.
            </p>
        </div>
    </div>
</footer>